doctype html
html(lang="en-GB")
  head
    include templates/head.pug
  main
    div#Timer.hours.minutes.seconds
      span#Hours1.hour-value
      span#Hours2.hour-value
      span.hour-divider :
      span#Minutes1.minute-value
      span#Minutes2.minute-value
      span.minute-divider :
      span#Seconds1.second-value
      span#Seconds2.second-value
    button#StartStop.timer-stopped.material-symbols-rounded(aria-label="Start/pause the timer" aria-disabled="true" disabled)
      span.play play_circle
      span.pause pause_circle
    form#Settings(hidden)
      div Countdown Timer Length 
      div.timer-values
        input.timer-input-value(aria-label="Hours value" data-index="0" placeholder="hh" required type="number" min="0" max="23" aria-disabled="true" disabled)
        span :
        input.timer-input-value(aria-label="Minutes value" data-index="2" placeholder="mm" required type="number" min="0" max="59" aria-disabled="true" disabled)
        span :
        input.timer-input-value(aria-label="Seconds value" data-index="2" placeholder="ss" required type="number" min="0" max="59" aria-disabled="true" disabled)
      label Hide 'zeroed' units?
        input(aria-label="Hide 'zeroed' units" name="hideZeroedUnits" type="checkbox" checked aria-disabled="true" disabled)
      label Theme Colour 
        input(name="themeColour" aria-label="Change theme colour hue" type="range" min="0" max="360" value="230" aria-disabled="true" disabled)
      label Cycle Theme Colour 
        input(aria-label="Cycle theme colour when countdown timer is running." name="cycleTheme" type="checkbox" aria-disabled="true" disabled)
      button#UpdateButton(aria-label="Save timer settings" type=submit aria-disabled="true" disabled).material-symbols-rounded
        span.update check
    button#SettingsButton.material-symbols-rounded
      span.settings(aria-label="View timer settings") settings
    
  script(src="./scripts/index.ts" type="module")